.product{
    display: flex;
    flex-direction: column;
     max-height: 400px;
    /* max-width: 100px; */
    margin: 10px;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 1;
    background-color: white;
    justify-content: flex-end;
}
.product_price{
    margin-top: 5px;
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}

.product_rating{
    display: flex;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
    background-color: orange;
    border: 1px solid;
}